.events-color {
  color:rgb(108, 117, 125);
}

.img-height {
    height: 300px;
}

.text-height {
    height: 150px;
}

.active {
  border: none !important;
}

.font-sm {
  font-size: 11px;
}

@media (min-width: 1024px) {
  .text-height {
    height: 100px;
  }

}