.active {
  font-weight: bold;
  border-bottom: 2px solid #b4b4b458;
}

.p-height {
    max-height: 200px;
}

.bd-registration {
  background-color: #f7ede1 !important; /* 柔和淺色背景 */
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgb(122 78 46 / 0.15);
}
.event-link h3 {
  color: #7A4E2E;
  transition: color 0.3s;
}
.event-link h3:hover {
  color: #997141;
  text-decoration: underline;
}
.btn-blue {
  background-color: #7A4E2E !important;
  border: none !important;
}
.btn-blue:hover {
  background-color: #997141 !important;
}
.btn-red {
  background-color: #d9534f !important;
  border: none !important;
}
.btn-red:hover {
  background-color: #c9302c !important;
}

.bg-favo {
  background-color: #f6efe8;
}