.category {
    color: #b5bac1 !important;
    font-size: 12px;
    padding: 10px;
    font-size: 16px;
}

.category img {
    width: 15px;
    height: 15px;
    padding-right: 8px;
    width: auto;
}

.category:hover:after,
.category:focus::after {
  content: '';
  position: absolute;
  background: #e6ddd3;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
}

.swiper {
    height: 322px !important;
}

.swiper-slide {
  width: 340px !important;
  height: auto;
  object-fit: cover;
}

.bg-white {
    background-color: #fff;
}

.location img {
    width: 15px;
    height: 15px;
    padding-right: 8px;
    width: auto;
}

.card-rounded {
    border-radius: 16px !important;
}

.card-img-rounded {
    border-radius: 16px 16px 0 0 !important;
}

.time-text {
    color: #b5bac1;
    font-size: 13px;
}

.location-text {
    font-size: 14px;
    color: rgb(109, 114, 120);
}

@media (min-width: 1080px) {
    .category-nav {
        height: 72px;
    }
    .category-fs {
        font-size: 16px;
    }
}