.form-control {
    border-radius: 0 !important;

}

.form-control:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-login {
    display: inline-block;
    padding: .25rem 7rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-login::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.btn-login::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #0aa3cc; /* 這裡用手動調整色碼代替 darken(#0cf, 15%) */
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

.btn-login:hover {
    color: #fff;
    border-color: #0cf !important;
}

.btn-login:hover::before {
    width: 100%;
}