/* 夜間模式 */
body.dark-theme .bg-navbar {
  background-color: #1f1f1f !important;
}

body.dark-theme .text-color {
  color: #fff !important;
}

body.dark-theme button {
  background-color: inherit !important;
}

body.dark-theme .bg-menu {
  background-color: #797272 !important;
}

body.dark-theme .custom-link {
  color: #ccc !important;
}

body.dark-theme h5 {
  color: #eee !important;
}

body.dark-theme .dropdown-menu {
  background-color: #797272 !important;
  border-color: #dad2c9;
}

body.dark-theme .btn-close{  
    filter: invert(1) !important;
}

body.dark-theme .btn-theme{
  color: #ccc;
}

body.dark-theme .btn-theme:hover, body.dark-theme .custom-link:hover {
  background-color: #55432e !important;
}

.navbar-logo {
  width: 100%;
  height: 100%;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}

.navbar-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.navbar {
  --bs-navbar-padding-y:0 !important;
}

.navbar-toggler {
  padding: 0 !;
}

.navbar-brand {
  padding: 0 !important;
  margin: 0 !important;
}

.bg-navbar {
  background-color: #e6ddd3 !important;
}

.bg-menu {
  background-color: #f7ede1 !important;
}

.search-logo {
  width: 20px;
  height: 20px;
}

.border-none {
  border: none !important;
}

.custom-link {
  color: rgba(59, 52, 52, 0.767) !important;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.custom-link:hover {
  background-color: #ffffff;
  filter: drop-shadow(0 0 2em #997141);
}

.btn:active {
  border-color: transparent !important;
}

.search-icon {
  position: absolute;
  width: 20px;
  right: 15px;
  top: 10px;
}

.text-color {
  color: #7A4E2E !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0rem !important;
}

.btn-close{  
    filter: invert(0) !important;
}