#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.logo {
  width: 208px;
  height: auto;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.logo.fade-out {
  opacity: 0;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* 日間模式 */
body.light-theme {
  background-color: #f8f9fa;
  color: #000000;
}

/* 夜間模式 */
body.dark-theme {
  background-color: #121212;
  color: #ccc;
}

.navbar.bg-navbar {
  background-color: var(--navbar-bg);
  transition: background-color 0.3s ease;
}

body.light-theme .navbar.bg-navbar {
  --navbar-bg: #f8f9fa;
}

body.dark-theme .navbar.bg-navbar {
  --navbar-bg: #1f1f1f;
  color: #eee;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

span {
  font-size: 12px;
}

.custom-link {
  color: rgba(59, 52, 52, 0.767);
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.custom-link:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.navbar {
  height: 90px;
}

.img-banner {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.btn-radius {
  border-radius: 0;
}

.btn-outline-secondary {
  --bs-btn-active-color:#6c757d;
  --bs-btn-active-bg: transparent;
  --bs-btn-border-color: transparent;
}

.btn.active {
  border-color: transparent;
}

.btn:hover {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #e3e3e366;
  border-color: transparent;
}

.toggle-theme-color{
  color: rgba(0, 0, 0, 0.65) !important;
}

.navbar-light {
  background-color: #e3f2fd;
}

@media print {
  .no-export {
    display: none;
  }
}